@{ 
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="privacy-title">@ViewData["Title"]</h1>

<body class="background-image">
<p class="privacy-text">Use this page to detail your site's privacy policy.</p>




<p class="privacy-text">IMPORTANT! ALL INFORMATION DISPLAYED OF AIRCRAFT ARE PUBLIC INFORMATION AND MAY BE ACCESSIBLE TO THE PUBLIC.</p>
</body>