@{
    ViewData["Title"] = "About Me";
}

<body class="about-page">
    <h1>About Me</h1>

<div class="about">
    <div class="main-content">
        <img src="~/images/about.jpg" alt="About Me">
        <div class="about-text">
            <h2>About Me</h2>
            <p>Welcome to my about page!</p>
        </div>
    </div>
</div>

</body>