@{
    ViewData["Title"] = "About Me";
}

<body class="background-image"> 
    <h2 class="about-title">About Me</h2>

    <div class="about">
        <div class="main-content">
            <img src="~/Images/Me.jpg" alt="picture of me" class="about-image" />

            <div class="about-text">
                <h3>
                    <a class="about-link" href="https://github.com/zing411" target="_blank">
                        GitHub Profile
                    </a>
                </h3>

                <p>Welcome to my about page!</p>
                <p>Hello, and welcome to my website! This is my first time using ASP.NET Core. And I'm personal proud of what I created. 
                    This was a great learning experience, and this project was inspired by friends I met on discord.</p>
            </div>
        </div>
    </div>

</body>